* {
    box-sizing: border-box;
}

:root {
    --gapSize: 7px;
    --borderRadius: 3px;

    --mainBgColor: #1c1c1c;
}

html {
    font-size: 30px;
}

body {
    margin: 0;
}

button {
    cursor: pointer;

}

.btn {
    padding: 0.3rem 0.5rem;
    background-color: var(--mainBgColor);
    color: white;
    border: 2px solid transparent;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;

}

.main {
    background-color: var(--mainBgColor);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: max-content;
    width: 330px;
    height: 330px;
    font-size: 2em;
}


form {
    height: 50vh;
    aspect-ratio: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.7rem;

    .search-input {
        padding: 0.3rem;
        border: none;
        border-radius: 3px;
        width: 100%;
        font-size: 16px;
        text-align: center;
    }

    .search-btn {

        transition-duration: .2s;
        transition-property: background-color, color, border-color;

        &:hover {
            background-color: white;
            color: black;
        }
    }
}

.pagination {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    >.btn {
        position: relative;
        padding: 0.4rem;

        &:after {
            content: "";
            height: 2px;
            position: absolute;
            left: 0px;
            right: 0px;
            background-color: white;
            top: calc(100% - 0.4rem);

        }
    }

    span {
        font-size: 20px;
    }
}

.hide {
    display: none;
}