* {
    box-sizing: border-box;
}

:root {
    --gapSize: 7px;
    --borderRadius: 3px;
    --mainBgColor: #1c1c1c;
}

html {
    font-size: 30px;
}

body {
    margin: 0;
}

button {
    cursor: pointer;

}


.btn {
    padding: 0.3rem 0.5rem;
    background-color: white;
    color: black;
    border: 2px solid white;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;

}



.main {
    background-color: var(--mainBgColor);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: max-content;
    width: 300px;
    height: 240px;
    font-size: 1.8em;
    padding: 0.65rem;
}

form {
    height: 88%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .input-wrapper {
        --clearBtnSize: 15px;
        --extendTime: 0.2s;
        display: inline-block;
        position: relative;
        transition: var(--extendTime) transform;

        .search-input {
            padding: 0.3rem;
            padding-inline: var(--clearBtnSize) 0;
            border: none;
            border-radius: 3px;
            width: 100%;
            font-size: 16px;
            text-align: center;
            background-color: transparent;
            color: white;
            position: relative;
            transition: var(--extendTime) padding-inline;

            &:focus {
                outline: none;
            }

            &:not(:placeholder-shown) {
                padding-inline: 0.3rem calc(var(--clearBtnSize) * 1.8);

            }

            &::-webkit-search-cancel-button {
                box-sizing: border-box;
                -webkit-appearance: none;
                height: var(--clearBtnSize);
                aspect-ratio: 1;
                background-color: white;
                border-radius: 50%;
                cursor: pointer;
                transform: translateX(150%);
                clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
            }

            &:not(:placeholder-shown)::-webkit-search-cancel-button {
                opacity: 1;
                pointer-events: auto;
            }
        }

        &::after {
            content: "";
            height: 2px;
            position: absolute;
            left: 0;
            right: 0;
            top: 105%;
            background-color: white;
        }

        &:has(input:not(:placeholder-shown)) {
            transform: translateX(0);
        }

    }

    .search-btn,
    .back-btn {
        min-width: 90px;
        transition-duration: .2s;
        transition-property: background-color, color, border-color;

        &:hover {
            background-color: var(--mainBgColor);
            color: white;
        }
    }
}

.pagination {
    display: flex;
    flex-direction: column;

    .pagination-btns {
        display: flex;
        align-items: center;
        gap: 0.4rem;
        margin-top: 0.6rem;

        >.btn {
            position: relative;
            padding: 0.4rem;
            background-color: var(--mainBgColor);
            color: white;
            border-color: transparent;

            &::after {
                content: "";
                height: 2px;
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0.3rem;
                background-color: white;
                transform-origin: right;
                transform: scaleX(0);
                transition: transform 0.15s ease-in-out;
            }

            &:hover::after {
                transform-origin: left;
                transform: scaleX(1);
            }
        }

        span {
            font-size: 20px;
        }
    }


    span.term-title,
    .transcript-time {
        font-size: 14px;
        text-align: center;
    }

    span.term-title {
        display: inline-block;

    }

    .transcript-time {
        display: flex;
        justify-content: center;
        gap: 0.23rem;
    }
}

.hide {
    display: none;
}



.shake {
    animation: shake 0.3s ease-in-out;
}


@keyframes shake {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-5px);
    }

    50% {
        transform: translateX(5px);
    }

    75% {
        transform: translateX(-5px);
    }

    100% {
        transform: translateX(0);
    }
}
